$dark-green: #2d3b36;
$green1: #bfea6a;
$green2: #b9d54d;
$teal1: #52aca1;
$teal2: #94dcd9;


$gray1: #fafcfc;
$gray2: #f0f7f5;
$gray3: #e4ebe8;
$gray4: #d0d6d4;
$gray5: #b3bab8;
$gray6: #848a88;
$gray7: #6d7371;
$gray8: #2f3332;
$gray9: #1c1f1e;
